<%- include('./../layouts/main_start.ejs') %>
<img src="./../../../public/assets/images/login.svg"
    class="absolute opacity-70 top-[50%] left-0 right-0 translate-y-[-50%]" alt="" />
<div class="overlay bg-slate-300 absolute inset-0 bg-opacity-40 backdrop-blur-[2px]"></div>
<main class="z-10 relative container flex-col gap-8 flex items-center justify-center w-screen h-screen">
    <form method="POST" action="/confirm_reset/<%= resetToken %>"
        class="login-form bg-white p-5 py-8 rounded-2xl shadow-xl border max-w-[700px] flex gap-3 flex-col w-full">
        <h1 class="md:text-3xl text-center font-bold text-slate-700 text-xl mb-8">Reset your password</h1>
        <% if (error.length) { %>
        <p class="text-center p-3 bg-red-500 text-white rounded-lg text-lg"><%= error[0].error %></p>
        <% } %>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input class="form-control" type="password" name="password" placeholder="New password" />
        <input class="form-control" type="password" name="passwordConfirm" placeholder="Confirm new password" />
        <button class="form-submit" type="submit">Confirm Change</button>
    </form>
</main>
<%- include('./../layouts/main_end.ejs') %>