<%- include('./../layouts/main_start.ejs') %>
<img src="./../../../public/assets/images/login.svg"
    class="absolute opacity-70 top-[50%] left-0 right-0 translate-y-[-50%]" alt="" />
<div class="overlay bg-slate-300 absolute inset-0 bg-opacity-40 backdrop-blur-[2px]"></div>
<main class="z-10 relative container flex-col gap-8 flex items-center justify-center w-screen h-screen">
    <div
        class="items-center justify-center text-gray-700 font-[450] text-lg bg-white p-5 py-8 rounded-2xl shadow-xl border max-w-[700px] flex gap-3 flex-col w-full">
        <img src="/assets/images/email_sent3.svg" class="md:w-72 w-52 mb-8">
        <p class="text-center">We've sent password reset instructions to <span
                class="font-semibold text-gray-900"><%= emailAddress %></span></p>
        <form action="/password_reset_resend" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="token" value="<%= resetToken %>">
            <p class="-mt-2 text-center">If it doesn't arrive soon, check your spam folder or <button type="submit"
                    class="text-blue-500 font-semibold underline hover:text-blue-600">Resend email.</button>
            </p>
        </form>
    </div>
</main>
<%- include('./../layouts/main_end.ejs') %>