<%- include('./../layouts/main_start.ejs') %>
<!--!! content start !!-->
<img src="./../../../public/assets/images/login.svg"
    class="absolute opacity-70 top-[50%] left-0 right-0 translate-y-[-50%]" alt="" />
<div class="overlay bg-slate-300 absolute inset-0 bg-opacity-40 backdrop-blur-[2px]"></div>
<main class="z-10 relative container flex-col gap-8 flex items-center justify-center w-screen h-screen">
    <form method="POST" action="/signup"
        class="login-form bg-white p-5 py-8 rounded-2xl shadow-xl border max-w-[700px] flex gap-3 flex-col w-full">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">


        <% if (errors.length) { %>
        <div class="text-center p-3 bg-red-500 text-white rounded-lg text-lg">
            <% for (let error of errors[0]?.errors) { %>

            <p><%= error %></p>

            <% } %>
        </div>
        <% } else { %>
        <h1 class="md:text-3xl text-center font-bold text-slate-700 text-xl mb-8">Create your account and enjoy
            shopping.</h1>
        <% } %>
        <div class="grid grid-cols-2 gap-4">
            <input type="text" name="firstName" placeholder="First Name" class="form-control" <% if (errors.length) { %>
                value="<%= errors[0].data.firstName %>" <% } %> />
            <input type="text" name="lastName" placeholder="Last Name" class="form-control" <% if (errors.length) { %>
                value="<%= errors[0].data.lastName %>" <% } %> />
        </div>
        <input class="form-control" type="text" name="username" placeholder="Username" <% if (errors.length) { %>
            value="<%= errors[0].data.username %>" <% } %> />
        <input class="form-control" type="email" name="email" placeholder="Email address" <% if (errors.length) { %>
            value="<%= errors[0].data.email %>" <% } %> />
        <div class="grid grid-cols-2 gap-4">
            <input class="form-control" type="password" name="password" placeholder="Password"
                <% if (errors.length) { %> value="<%= errors[0].data.password %>" <% } %> />
            <input class="form-control" type="password" name="passwordConfirm" placeholder="Confirm Password"
                <% if (errors.length) { %> value="<%= errors[0].data.passwordConfirm %>" <% } %> />

        </div>
        <button class=" form-submit" type="submit">Sign up</button>
        <p class="text-center text-slate-800 font-semibold">
            Already have an account?
            <a href="/login" class="underline text-blue-500 font-semibold hover:font-bold">Login</a>
        </p>
    </form>
</main>
<!--!! content start !!-->
<%- include('./../layouts/main_end.ejs') %>