<!--!! Heading navbar start !!-->
<header class="header">
    <div class="header-upper-container">
        <div class="upper-wrapper">
            <h1 class="header-logo">
                <a href="/" class="header-logo-wrapper">
                    <i class="fa-solid fa-cart-flatbed"></i>
                    <p>ChicCart</p>
                </a>
            </h1>
            <!-- navigation end -->
            <form class="header-search-container">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <i class="fa-solid fa-magnifying-glass header-search-logo"></i>
                <input type="text" class="header-search-input" placeholder="Search Products" />
            </form>
            <!-- cart and user controls start -->

            <div class="upper-controls-container">
                <div class="upper-control-item group">
                    <a href="/login" class="upper-control-item-text"><%= loginUser ? '' : 'Login' %></a>
                    <a href="/login" class="upper-control-icon">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <!-- scale-0 group-hover:scale-100 -->
                    <!-- <div
                                class="user-popup bg-white flex duration-[100ms] transition-transform text-lg flex-col items-center absolute min-w-fit text-blue-500 shadow-md w-fit px-6 left-[-25%] text-center top-[110%] rounded-lg py-2"
                            >
                                <p class="w-full"><a class="w-full break-keep" href="">Orders</a></p>
                                <p class="w-full"><a class="w-full break-keep" href="">Add Product</a></p>
                                <p class="w-full"><a class="w-full break-keep" href="">Admin Products</a></p>
                            </div> -->
                </div>

                <% if (loginUser) { %>
                <div class="upper-control-item">
                    <a href="/logout" class="relative upper-control-icon">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i> </a>
                    <!-- <a href="/logout" class="upper-control-item-text">Logout</a> -->
                </div>
                <% } %>
                <div class="upper-control-item">
                    <a href="/cart" class="relative upper-control-icon">
                        <i class="fa-solid fa-bag-shopping"></i>
                    </a>
                    <a href="/cart" class="upper-control-item-text">(<%= cartItemsCount %>)</a>
                </div>
            </div>
            <!-- cart and user controls end -->
        </div>
    </div>
</header>
<!-- navigation start -->
<nav class="navbar">
    <ul class="navbar-items-container">
        <li class="nav-item <%=  path == 'index' ? 'nav-item-active' : ''  %>"><a href="/">Home</a></li>
        <li class="nav-item <%=  path == 'all_products' ? 'nav-item-active' : ''  %>"><a href="/products">All
                Products</a></li>
        <li class="nav-item"><a href="/products">Electronics</a></li>
        <li class="nav-item"><a href="/products">Supermarket</a></li>
        <li class="nav-item"><a href="/products">Deals</a></li>
        <li class="nav-item"><a href="/products">Beauty & Health</a></li>
        <li class="nav-item"><a href="/products">Mobiles</a></li>
        <% if(isAdmin) { %>
        <li class="nav-item <%=  path == 'admin_products' ? 'nav-item-active' : ''  %>"><a href="/admin/products">Admin
                Products</a></li>
        <li class="nav-item <%=  path == 'add_product' ? 'nav-item-active' : ''  %>"><a
                href="/admin/products/create">Add Product</a></li>
        <li class="nav-item <%=  path == 'admin_orders' ? 'nav-item-active' : ''  %>"><a href="/admin/orders">Admin
                Orders</a></li>
        <% } else { %>
        <li class="nav-item <%=  path == 'admin_orders' ? 'nav-item-active' : ''  %>"><a href="/orders">Your
                Orders</a></li>

        <% } %>
        <li class="nav-item"><a href="">About</a></li>
        <li class="nav-item"><a href="">Contact</a></li>
    </ul>
</nav>
<!--!! Heading navbar end !!-->