<%- include('./layouts/main_start.ejs') %>
<%- include('./layouts/header.ejs') %>
<!--!! content start !!-->
<main class="content">
    <!--!! image carousel start !!-->
    <section id="carousel" class="carousel">
        <div class="carousel-info-container">
            <div class="carousel-overlay"></div>
            <p class="carousel-text">All your needs in one place.</p>
            <button class="carousel-button">
                <a href="/products" class="carousel-button-anchor"> Shop Now</a>
            </button>
        </div>
        <!-- carousel items start -->
        <div class="carousel-items-container">
            <!-- carousel item start -->
            <div class="carousel-item carousel-item-active">
                <img class="carousel-item-image" src="https://api.lorem.space/image/furniture?w=640&h=480&r=9667"
                    alt="Shop Product" srcset="" />
            </div>
            <!-- carousel item end -->
            <!-- carousel item start -->
            <div class="carousel-item">
                <img class="carousel-item-image" src="https://api.lorem.space/image/shoes?w=640&h=480&r=8230"
                    alt="Shop Product" srcset="" />
            </div>
            <!-- carousel item end -->
            <!-- carousel item start -->
            <div class="carousel-item">
                <img class="carousel-item-image" src="https://api.lorem.space/image/watch?w=640&h=480&r=8346"
                    alt="Shop Product" srcset="" />
            </div>
            <!-- carousel item end -->

            <!-- carousel item start -->
            <div class="carousel-item">
                <img class="carousel-item-image" src="https://api.lorem.space/image/fashion?w=640&h=480&r=5765"
                    alt="Shop Product" srcset="" />
            </div>
            <!-- carousel item end -->
        </div>
        <!-- carousel items end -->
    </section>
    <!--!! image carousel end !!-->
    <!--!! website intro start !!-->
    <section class="website-intro-container">
        <div class="website-intro-item">
            <div class="website-intro-image-container">
                <img src="/assets/images/Free shipping-amico.svg" class="object-contain" alt="" />
            </div>
            <p>Free Shipping</p>
        </div>
        <div class="website-intro-item">
            <div class="website-intro-image-container">
                <img src="/assets/images/Service 24_7-pana.svg" class="object-contain" alt="" />
            </div>
            <p>24/7 Hour Support</p>
        </div>
        <div class="website-intro-item">
            <div class="website-intro-image-container">
                <img src="/assets/images/Refund-pana.svg" class="object-contain" alt="" />
            </div>
            <p>100% Money Back Guarantee</p>
        </div>
    </section>
    <!--!! website intro end !!-->
    <!--!! newest arrivals products start !!-->
    <% if (newestProducts.length) {  %>
    <section class="products">
        <h1 class="home-section-heading mt-4">Newest Arrivals</h1>
        <div class="home-products-wrapper">
            <div class="prods-nav absolute w-full inset-0">
                <div class="prods-nav-prev">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="prods-nav-next ">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <!-- snap-x -->
            <div class="home-products-container snap-x ">
                <% for (let product of newestProducts) { %>
                <!-- product start -->
                <div class="home-product snap-start" id="product-<%=product._id%>">
                    <a href="/product/<%= product._id %>" class=" absolute inset-0"></a>

                    <div class="product-image-container group">
                        <div class="product-overlay">
                            <form action="/cart" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" name="id" value="<%= product._id %>">
                                <input type="hidden" name="type" value="1">
                                <button type="submit" class="product-add-to-cart">
                                    <i class="fa-solid fa-cart-plus"></i>
                                </button>
                            </form>
                        </div>
                        <img src="<%= product.images[0] %>" alt="" class="product-image" />
                    </div>
                    <p class="product-title">
                        <a href="/product/<%=product._id%>"><%=product.title%></a>
                    </p>
                    <div class="product-info">
                        <div class="product-price">$<%=product.price %></div>
                        <div class="product-rating">
                            <% for (let i = 0; i < 5; i++) { %>
                            <% if (i < Number(String(product.rating).split('.')[0])) { %>
                            <i class="fa-solid fa-star"></i>
                            <% } else if (i === Number(String(product.rating).split('.')[0]) && Number(String(product.rating).split('.')[1]) ) { %>
                            <i class="fa-solid fa-star-half-stroke"></i> <% } else { %>
                            <i class="fa-regular fa-star"></i>
                            <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <!-- product end -->
                <%}%>
        </div>
        </div>
    </section>
    <%} %>
                <!--!! newest arrivals products end !!-->
                <!--!! top rated products start !!-->
                <% if (topRatedProducts.length) {  %>
                <section class="products">
                    <h1 class="home-section-heading">Top Rated</h1>
                    <div class="home-products-wrapper">
                        <div class="prods-nav  absolute w-full inset-0">
                            <div class="prods-nav-prev">
                                <i class="fa-solid fa-chevron-left"></i>
                            </div>
                            <div class="prods-nav-next ">
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>
                        <div class="home-products-container snap-x ">
                            <% for (let product of topRatedProducts) { %>
                            <!-- product start -->
                            <div class="home-product snap-start" id="product-<%=product._id%>">
                                <a href="/product/<%= product._id %>" class=" absolute inset-0"></a>

                                <div class="product-image-container group">
                                    <div class="product-overlay">
                                        <form action="/cart" method="post">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="id" value="<%= product._id %>">
                                            <input type="hidden" name="type" value="1">
                                            <button type="submit" class="product-add-to-cart">
                                                <i class="fa-solid fa-cart-plus"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <img src="<%= product.images[0] %>" alt="" class="product-image" />
                                </div>
                                <p class="product-title">
                                    <a href="/product/<%=product._id%>"><%=product.title%></a>
                                </p>
                                <div class="product-info">
                                    <div class="product-price">$<%=product.price %></div>
                                    <div class="product-rating">
                                        <% for (let i = 0; i < 5; i++) { %>
                                        <% if (i < Number(String(product.rating).split('.')[0])) { %>
                                        <i class="fa-solid fa-star"></i>
                                        <% } else if (i === Number(String(product.rating).split('.')[0]) && Number(String(product.rating).split('.')[1]) ) { %>
                                        <i class="fa-solid fa-star-half-stroke"></i> <% } else { %>
                                        <i class="fa-regular fa-star"></i>
                                        <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <!-- product end -->
                            <%}%>
        </div>
        </div>
    </section>
    <%} %>
                            <!--!! top rated products end !!-->
</main>
<!--!! content start !!-->
<%- include('./layouts/footer.ejs') %>
<!-- script for carousel auto image slide -->
<script>
    let carouselItems = document.querySelector(".carousel-items-container").children;
    let activeItem = 0;
    setInterval((_) => {
        Array.from(carouselItems).forEach((item) => {
            item.classList.remove("carousel-item-active");
        });
        activeItem = activeItem++ == carouselItems.length - 1 ? 0 : activeItem++;
        carouselItems[activeItem].classList.add("carousel-item-active");
    }, 5000);
</script>


<!-- script for products horizontal navigation -->
<script>
    let prodsNavNext = document.querySelectorAll('.prods-nav-next'),
        prodsNavPrev = document.querySelectorAll('.prods-nav-prev'),
        productsContainers = document.querySelectorAll('.home-products-container');


    // WHEN WINDOW RESIZES CHECK IF NAVIGATION CONTROLS NEEDS TO BE SHOWN
    window.addEventListener("resize", _ => {
        productsContainers.forEach(productsContainer => {
            if (productsContainer.scrollWidth > productsContainer.clientWidth) {
                productsContainer.scrollLeft = 0
                productsContainer.parentElement.querySelector(".prods-nav-next").classList.add("active")
                productsContainer.parentElement.querySelector(".prods-nav-prev").classList.add("active")
            } else {
                productsContainer.parentElement.querySelector(".prods-nav-next").classList.remove(
                    "active")
                productsContainer.parentElement.querySelector(".prods-nav-prev").classList.remove(
                    "active")

            }
        })
    })

    // WHEN WINDOW LOADS FOR FIRST TIME CHECK IF THE NAVIGATION CONTROLS NEEDS TO BE SHOWN

    window.addEventListener("DOMContentLoaded", _ => {
        productsContainers.forEach(productsContainer => {
            if (productsContainer.scrollWidth > productsContainer.clientWidth) {
                productsContainer.scrollLeft = 0
                productsContainer.parentElement.querySelector(".prods-nav-next").classList.add("active")
                productsContainer.parentElement.querySelector(".prods-nav-prev").classList.add("active")
            } else {
                productsContainer.parentElement.querySelector(".prods-nav-next").classList.remove(
                    "active")
                productsContainer.parentElement.querySelector(".prods-nav-prev").classList.remove(
                    "active")

            }
        })

    })



    // FUNCTION TO SCROLL LEFT OR RIGHT INTO THE PRODUCTS CONTAINER WHEN NEXT OR PREV BUTTONS CLICKED
    function handleScroll(type, event) {
        let parentWrapper = event.target.closest('.home-products-wrapper'),
            productsContainer = parentWrapper.querySelector(".home-products-container"),
            productWidth = parentWrapper.querySelector(".home-product").getClientRects()[0].width
        productsContainerWidth = productsContainer.getClientRects()[0].width
        // SCROLL INTO THE PRODUCTS CONTAINER BY THE WIDTH OF THE PRODUCT DEPENDING ON THE BUTTON CLICKED
        type === 1 ? productsContainer.scrollLeft += productsContainerWidth : productsContainer
            .scrollLeft -= productsContainerWidth
    }

    // WHEN NEXT BUTTON CLICKED
    prodsNavNext.forEach(prodNavNext => {
        prodNavNext.addEventListener('click', (event) => {
            handleScroll(1, event)
        })
    })

    // WHEN PREVIOUS BUTTON CLICKED
    prodsNavPrev.forEach(prodNavPrev => {
        prodNavPrev.addEventListener('click', (event) => {
            handleScroll(2, event)
        })
    })
</script>
<%- include('./layouts/main_end.ejs') %>