<%- include('./../layouts/main_start.ejs') %>
<%- include('./../layouts/header.ejs') %>
<!--!! content start !!-->
<% if (cart.length) { %>
<main class="cart-container">
    <!-- left products section start -->
    <div class="cart-products-container">
        <% for (let product of cart) { %>
        <!-- product start -->
        <div class="cart-product group">
            <!-- product info start -->
            <div class="cart-product-info">
                <div class="cart-product-image-container">
                    <div class="cart-product-image-wrapper">
                        <img class="cart-product-image" src="<%= product.images[0] %>" alt="<%= product.title %>" />
                    </div>
                </div>

                <div class="cart-product-info-wrapper">
                    <!-- cart product title start -->
                    <p class="cart-product-title"><%= product.title %></p>
                    <!-- cart product title end -->

                    <div class="cart-product-details">
                        <div class="cart-product-details-wrapper">
                            <!-- product quantity start -->
                            <div class="flex">
                                <form method="POST" action="/cart/update" class="">
                                    <input type="hidden" name="type" value="2">
                                    <input type="hidden" name="id" value="<%= product.id %>">
                                    <button <% if (product.qty <= 1) { %> disabled <% } %> type="submit" class=" 
                                        cart-product-qty-control rounded-l-md"> <i
                                            class="fa-solid fa-minus"></i></button>
                                </form>
                                <input type="text" value="<%= product.qty %>" name="prod-qty" class="cart-product-qty"
                                    disabled />
                                <form method="POST" action="/cart/update" class="">
                                    <input type="hidden" name="type" value="1">
                                    <input type="hidden" name="id" value="<%= product.id %>">
                                    <button type="submit" class="cart-product-qty-control rounded-r-md"><i
                                            class="fa-solid fa-plus"></i></button>
                                </form>
                            </div>
                            <!-- product quantity end -->

                            <!-- product price start -->
                            <div class="cart-product-price">$<%= Number(product.price) * Number(product.qty) %></div>
                            <!-- product price end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- product info end -->

            <!-- product delete start -->
            <form method="POST" action="/cart/delete" class="cart-product-delete">
                <input type="hidden" name="id" value="<%= product.id %>">
                <button type="submit"> <i class="fa-solid fa-xmark"></i></button>
            </form>
            <!-- product delete end -->
        </div>
        <!-- product end -->
        <% } %>
    </div>
    <!-- left products section end -->
    <!-- right cart details section start -->
    <div class="cart-info-container">
        <h1 class="cart-info-title">Order Summary</h1>
        <div class="cart-subtotal-container">
            <p class="cart-info-heading">Subtotal <span class="cart-info-subtitle"> (<%= items %> items)</span></p>
            <p class="cart-info-price">$<%= total %></p>
        </div>
        <div class="cart-subtotal-container">
            <p class="cart-info-heading">Shipping</p>
            <p class="cart-info-price"><%= shipping ? '$' + shipping : 'Free' %></p>
        </div>
        <!-- <h1 class="cart-info-heading">Promo Code</h1> -->
        <form action="" class="promo-container">
            <input type="text" name="promo-code" class="promo-code" placeholder="Promo Code" />
            <button type="submit" class="promo-code-submit">Apply</button>
        </form>
        <div class="cart-subtotal-container">
            <p class="cart-info-total">Total</p>
            <p class="cart-info-total-price">$<%= shipping + total %></p>
        </div>
        <button class="cart-checkout-wrapper">
            <a class="cart-checkout" href="/checkout">Checkout</a>
        </button>
    </div>
    <!-- right cart details section end -->

</main>

<% } else { %>
<main class="content justify-center">
    <img src="/assets/images/empty_cart.svg" class="max-h-[300px]" alt="">
    <div class="flex flex-col gap-0 text-center sm:text-[3rem] text-[2rem] font-extrabold text-slate-600 ">
        Your Cart is Empty
        <p class="sm:text-sm text-xs font-semibold text-slate-500 w-[90%] m-auto ">Looks like you haven't added anything
            to your
            cart
            yet.</p>
    </div>

    <button class="bg-blue-500 p-4 px-8 text-white rounded-md font-semibold hover:bg-blue-600 transition-colors">
        <a href="/products">Continue Shopping</a>
    </button>
</main>
<% } %>



<!--!! content end !!-->
<%- include('./../layouts/footer.ejs') %>
<%- include('./../layouts/main_end.ejs') %>