<%- include('./../layouts/main_start.ejs') %>
<%- include('./../layouts/header.ejs') %>
<!--!! content start !!-->
<main class="content items-center justify-center text-center">
    <img src="/assets/images/order_confirm.svg" class="max-w-[300px]" alt="" srcset="">
    <p class="text-3xl font-extrabold md:text-5xl">Order #<%= orderID %> is confirmed!</p>
    <!-- <i class="fa-regular fa-circle-check text-[8rem] text-green-400"></i> -->
    <!-- <p class="text-lg font-semibold">Your order ID: <%= orderID %></p> -->
    <p class="md:text-lg ">You will receive a confirmation email with order details.</p>
    <a href="/products"
        class="bg-blue-500 p-4 px-8  text-white rounded-md font-semibold hover:bg-blue-600 transition-colors">
        Continue Shopping
    </a>
</main>
<!--!! content start !!-->
<%- include('./../layouts/footer.ejs') %>
<%- include('./../layouts/main_end.ejs') %>