<%- include('./../layouts/main_start.ejs') %>
<%- include('./../layouts/header.ejs') %>
<!--!! content start !!-->
<% if (orders?.length) { %>

<main class="content">
    <table class="table-auto border bg-white rounded-lg shadow-sm overflow-hidden w-full">
        <thead>
            <tr class="text-gray-700  uppercase">
                <th class="pl-6 p-2 py-3 border-b text-left font-extrabold">Order ID</th>
                <th class="p-2 py-3 border-b text-left font-extrabold">Created</th>
                <th class="p-2 py-3 border-b text-left font-extrabold">Customer</th>
                <th class="p-2 py-3 border-b text-left font-extrabold">Products</th>
                <th class="p-2 py-3 border-b text-left font-extrabold">Promo Code</th>
                <th class="p-2 py-3 border-b text-left font-extrabold">Price</th>
                <th class="pr-6 p-2 py-3 border-b text-left font-extrabold">Status</th>
            </tr>
        </thead>
        <tbody>
            <% for (let order of orders) { let months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];  %>
            <tr class="font-[450] text-gray-500">
                <td class="pl-6 p-2 py-4 border-b text-left uppercase">
                    <a class="cursour-pointer hover:underline text-slate-700 font-bold"
                        href="/order/<%= order._id %>"><%= order._id %></a>
                </td>
                <td class="p-2 py-4 border-b text-left">
                    <%= `${order.createdAt.getDate()} ${months[order.createdAt.getMonth()]} ${order.createdAt.getFullYear()}` %>
                </td>
                <td class="p-2 py-4 border-b text-left"><%= order.userID.firstName + ' ' + order.userID.lastName %>
                </td>
                <td class="p-2 py-4 border-b text-left"><%= order.items.length %></td>
                <td class="p-2 py-4 border-b text-left uppercase"><%= order.promoCode?.code ?? '-' %></td>
                <td class="p-2 py-4 border-b text-left">$<%= order.price + order.shipping %></td>
                <td class="pr-6 p-2 py-4  border-b text-left">
                    <div class="status cursor-pointer px-2 text-center py-1.5 rounded-lg
                            <% if(order.status === 1) { %>
                                bg-yellow-100 text-yellow-700
                            <% } %>
                            <% if(order.status === 2) { %>
                                bg-cyan-100 text-cyan-700
                            <% } %>
                            <% if(order.status === 3) { %>
                                bg-green-100 text-green-700
                            <% } %>
                            <% if(order.status === 4) { %>
                                bg-red-100 text-red-700
                            <% } %>
                            font-semibold appearance-none outline-none select-none">
                        <% if (order.status === 1) { %>Pending<% } else if (order.status === 2) { %>Shipped<% } else if (order.status === 3) { %>Delivered<% } else { %>Cancelled<% } %>
                    </div>

                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</main>
<% } else { %>
<main class="content justify-center">
    <img src="/assets/images/no_orders.svg" class="max-h-[500px]" alt="">
    <div class="-mt-20 flex flex-col gap-0 text-center sm:text-[3rem] text-[2rem] font-extrabold text-slate-600 ">
        There's No Orders
        <p class="sm:text-sm text-xs font-semibold text-slate-500 w-[90%] m-auto ">Looks like you haven't made any order
            yet.</p>
    </div>

    <a href="/products"
        class="bg-blue-500 p-4 px-8  text-white rounded-md font-semibold hover:bg-blue-600 transition-colors">
        Continue Shopping
    </a>
</main>
<% } %>
<!--!! content start !!-->
<%- include('./../layouts/footer.ejs') %>
<%- include('./../layouts/main_end.ejs') %>